# Compiled source #
###################
*.dll
*.exe
*.exp
*.lib
*.o
*.pdb

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# IDE generated #
#################
.vs
.vscode

# Profiler generated #
######################
nsys_easy
nsys_easy.nsys-rep
nsys_easy.sqlite

build